<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %}{% endblock Title%}</title>

    <link rel="stylesheet" href="{% static 'css/base.css'%}"/>

    {% block additional_links %}{% endblock additional_links %}
</head>
<body>
    <header>
        <div class="navbar">
            <div class="container">
                <div class="navbar-left">
                    <a class="navbar-item" href="{% url 'home'%}">Главная</a>
                    <a class="navbar-item" href="javascript:alert('Функционал недосутпен в текущей версии')">Каталог</a>
                    <a class="navbar-item" href="javascript:alert('Функционал недосутпен в текущей версии')">Контакты</a>
                </div>
                <div class="navbar-right">
                    <a class="navbar-item" href="javascript:alert('Функционал недосутпен в текущей версии')">Войти</a>
                    <a class="navbar-item" href="{% url 'cart' %}">Корзина</a>
                    <a class="navbar-item" href="javascript:alert('Функционал недосутпен в текущей версии')">Заказы</a>
                </div>
            </div>
        </div>
    </header>
{% block body_content %}{% endblock body_content %}
    <footer>
        <div class="footer-content">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <p>© Магазин аниме-атрибутики <a style="text-decoration: none; color:white;" href="{% url 'home'%}"><b>Haime</b></a> 2022
                            <br>
                            Все права защищены
                            <br>
                            Интернет-магазин аниме аксессуаров, фигурок, манги и дакимакур
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>