<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %}{% endblock Title%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}"/>
    {% block additional_links %}{% endblock additional_links %}
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-left">
                <a class="navbar-item" href="{% url 'home'%}">Главная</a>
                <a class="navbar-item">Каталог</a>
                <a class="navbar-item">Контакты</a>
            </div>
            <div class="navbar-right">
                <a class="navbar-item">Войти</a>
                <a class="navbar-item">Корзина</a>
                <a class="navbar-item">Заказы</a>
            </div>
        </div>
    </header>
{% block body_content %}{% endblock body_content %}
    <footer>
        <div class="footer-content">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <p style="margin-left: 10px;">© Магазин аниме-атрибутики <a style="text-decoration: none; color:white;" href="{% url 'home'%}"><b>Haime</b></a> 2022
                            <br>
                            Все права защищены
                            <br>
                            Интернет-магазин аниме аксессуаров, фигурок, манги и дакимакур
                        </p>
                    </div>
                    <div class="column">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>