<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block Title %}Haime | Магазин Аниме-атрибутики{% endblock %}

{% block additional_links %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock additional_links %}

{% block body_content %}
<div class="body-content">
    <div class="container">
        <div class="category-container">
            <span style="margin: 10px 0px; padding: 5px 5px; font-size: 20px;"><b>Категория</b></span>
            {% for x in categories %}
            <a class="category-class" href="?category={{ x.cat_id }}">{{x.name}}</a>
            {% endfor %}
        </div>
        <div class="row">
            {% for x in products %}
            <div class="product-card">
                <div class="box" value="{{x.product_id}}">
                    <img class="p-image" src="{% static x.images|get_item:'preview' %}" onclick="window.location='{% url 'product' x.product_id %}';" alt="">
                    <div class="p-info" onclick="window.location='{% url 'product' x.product_id %}';">
                        <span class="p-name">{{x.product_name}}</span>
                    </div>
                    <div class="cart" onclick="addToCart({{x.product_id}})"> {% csrf_token %}
                        <a style="cursor:pointer;">Добавить в корзину</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'js/cart.js'%}"></script>
{% endblock %}