@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-VariableFont_wght.ttf'), url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    
}

html{
    font-family: 'Montserrat';
    text-rendering: optimizeLegibility;
    font-size: 15px;
}

.body-content {
    height: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: calc(1850px+100px);;
    display: flex;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

footer{
    background-color: blueviolet;
    border-radius: 10px;
    
}

.navbar{
    width: 100%;
    background-color: blueviolet;
    align-items: stretch;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    overflow-x:auto;
}

.navbar-left{
    justify-content: left;
    align-items: stretch;
    display: flex;
}

.navbar-right{
    justify-content: right;
    align-items: stretch;
    display: flex;
}

.navbar-item{
    text-decoration: none;
    padding: 25px 25px;
    align-items: center;
    display: flex;
    color:white;
    position: relative;
    line-height: 1.5;
}

.footer-content{
    width: 100%;
    display:none ;
    justify-content: center;
}

.row{
    display: inline-flex;
    flex-wrap: wrap;
    order: 1;
 }

.columns{
    gap:18px;
    max-width: 100%;
    box-sizing: inherit;
    display: flex;
}
.column{
    display: flex;
    color:white;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.dot.active, .dot:hover {
    background-color: blueviolet;
  }

img.active{
    display: flex;
    background-color: gray;
    width: inherit;
    transition: ease 0.7s;
    height: 500px;
    object-fit:scale-down;
    border-radius: 10px;
}
img.active:hover{
    transform: translatey(+25%) translateX(-25%) scale(1.5, 1.5);
}
img.notactive{
    display: none;
}